<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.nexusformat.nxplot.NXplot">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.nexusformat.nxplot.Perspective"
            id="NXplot.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.nexusformat.nxplot.View"
            id="NXplot.view">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="NXplot.application"
            name="NXplot">
         <property
               name="appName"
               value="NXplot">
         </property>
         <property
               name="aboutImage"
               value="icons/nexusw.png">
         </property>
         <property
               name="aboutText"
               value="NXplot&#x0A;&#x0A;An extendable utility for plotting any NeXus file.&#x0A;&#x0A;NeXus International Advisory Committee (2009 - ????)&#x0A;&#x0A;Problems to be reported to: nexus-developers@nexusformat.org">
         </property>
         <property
               name="windowImages"
               value="icons/nexusw32.png,icons/nexusw.png">
         </property>
      </product>
   </extension>

</plugin>
