<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ch.psi.num.mountaingum.ui.eclipse.NodeEditor" name="NodeEditor" schema="schema/mountaingumuibase.NodeEditor.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.psi.num.mountaingum.ui.Switcher.SwitchView"
            id="mountaingum.SwitchView"
            name="SwitchView"/>
      <stickyView
            closeable="false"
            moveable="false"
            location="LEFT"
            id="mountaingum.SwitchView"/>
      <view
            allowMultiple="true"
            class="ch.psi.num.mountaingum.ui.EditorView.EditorView"
            id="mountaingumui.EditorView"
            name="Editor View"/>
      <view
            class="ch.psi.num.mountaingum.ui.QuickView.QuickView"
            id="mountaingumui.QuickView"
            name="QuickView"/>
      <stickyView
            closeable="false"
            id="mountaingumui.QuickView"
            location="LEFT"
            moveable="true"/>
      <view
            class="ch.psi.num.mountaingum.ui.TreeViewer.BaseTreeView"
            id="mountaingumui.BaseTreeView"
            name="BaseTreeView">
      </view>
      <view
            allowMultiple="true"
            class="ch.psi.num.mountaingum.ui.EditorView.TreeEditorView"
            id="mountaingumui.TreeEditorView"
            name="TreeEditorView">
      </view>
   </extension>
   <extension
         point="ch.psi.num.mountaingum.ui.eclipse.NodeEditor">
      <editor
            className="ch.psi.num.mountaingum.ui.CommandView.DefaultCommandEditor"
            id="mountaingumui.command"
            name="Command  View Editor"/>
      <editor
            className="ch.psi.num.mountaingum.ui.GraphicsView.Graph1DSGT"
            id="mountaingumui.graph1d"
            name="Graph 1D"/>
      <editor
            className="ch.psi.num.mountaingum.ui.GraphicsView.Graph2DSGT"
            id="mountaingumui.graph2d"
            name="Graph 2D"/>
      <editor
            className="ch.psi.num.mountaingum.ui.GraphicsView.FrameSeries"
            id="mountaingumui.frameseries"
            name="Frame Series"/>
      <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.DefaultParameterEditor"
            id="mountaingumui.parametereditor"
            name="Parameter Editor"/>
      <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.DefaultCommandEditor"
            id="mountaingumui.commandeditor"
            name="Default Command Editor"/>
      <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.SingleParEditor"
            id="mountaingumui.SingleParEditor"
            name="SingleParEditor"/>
      <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.ScanEditor"
            id="mountaingumui.ScanEditor"
            name="Scan Editor"/>
      <editor
            className="ch.psi.num.mountaingum.ui.GraphicsView.CommandGraph1D"
            id="mountaingumui.CommandGraph1D"
            name="CommandGraph1D"/>
      <editor
            className="ch.psi.num.mountaingum.ui.GraphicsView.TimeSeriesSGT"
            id="mountaingumui.TimeSeries"
            name="Time Series SGT"/>
      <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.TextEdit"
            id="mountaingumui.TextEdit"
            name="Text Editor"/>
      <editor
            className="ch.psi.num.mountaingum.GraphicsView.LogLog1DSGT"
            id="mountaingumui.LogLog1D"
            name="LogLog Viewer"/>
      <editor
            className="ch.psi.num.mountaingum.ui.GraphicsView.Graph2DProj"
            id="mountaingumui.Graph2DProj"
            name="Graphics 2D Projection"/>
     <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.table.TableEditor"
            id="mountaingumui.TableEditor"
            name="TableEditor"/>
     <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.table.DataTableEditor"
            id="mountaingumui.DataTableEditor"
            name="DataTableEditor"/>
     <editor
            className="ch.psi.num.mountaingum.ui.TreeViewer.CalcEditor"
            id="mountaingumui.CalcEditor"
            name="CalcEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="mountaingumui.GraphActions"
            label="Graphics Actions"
            visible="false">
         <action
               class="ch.psi.num.mountaingum.ui.GraphicsView.HardcopyAction"
               id="ch.psi.num.mountaingum.ui.GraphicsView.HardcopyAction"
               label="Save to png"
               menubarPath="mountaingum/additions"
               style="push"
               tooltip="Save the current graphics to png"/>
         <action
               class="ch.psi.num.mountaingum.ui.GraphicsView.PrintAction"
               id="ch.psi.num.mountaingum.ui.GraphicsView.PrintAction"
               label="Print"
               menubarPath="mountaingum/additions"
               style="push"/>
      </actionSet>
   </extension>
</plugin>
