<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ch.psi.num.mountaingum.nexus.loader.NexusMapper" name="NexusMapper" schema="schema/NexusMapper.ID.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.psi.num.mountaingum.nexus.Perspective.NexusPerspective"
            icon="icons/nexusw.png"
            id="mountaingum.NexusPerspective"
            name="Nexus">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="mountaingumnexus.ActionSet"
            label="&amp;NeXus"
            visible="false">
         <menu
               id="mountaingumnexus.Nexus"
               label="NeXus"
               path="additions">
            <groupMarker
                  name="mountaingumnexus.nexusgroup">
            </groupMarker>
         </menu>
         <action
               class="ch.psi.num.mountaingum.nexus.actions.SaveNexus"
               id="mountaingumnexus.Save"
               label="Save"
               menubarPath="mountaingumnexus.Nexus/mountaingumnexus.nexusgroup"
               style="push">
         </action>
         <action
               class="ch.psi.num.mountaingum.nexus.actions.OpenNexus"
               id="mountaingumnexus.LoadFile"
               label="Open"
               menubarPath="mountaingumnexus.Nexus/mountaingumnexus.nexusgroup"
               style="push">
         </action>
         <action
               class="ch.psi.num.mountaingum.nexus.actions.SinqFileAction"
               id="mountaingumnexus.LoadSinqFile"
               label="Load SINQ File"
               menubarPath="mountaingumnexus.Nexus/mountaingumnexus.nexusgroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.psi.num.mountaingum.nexus.Perspective.NexusTree"
            id="mountaingumnexus.NexusTree"
            name="NexusTree">
      </view>
      <view
            class="ch.psi.num.mountaingum.nexus.Perspective.NameView"
            id="mountaingumnexus.NameView"
            name="NameView">
      </view>
   </extension>

</plugin>
